.gallery-image img {
    border-radius: 50%;
    width: 100%;
}
    
header h1 {

    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: black;
    line-height: 70px;
    text-transform: uppercase;
    
}
    
header h2 {
    
    text-align: center;
    font-family: "Gentium Basic", serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 5px;
    color: black;
    text-transform: uppercase;
    
}

header img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

header nav ul {

    margin: 0 auto;
    text-align: center; /*IE*/
    width: fit-content;
    display:flex;
    
}
    
header nav ul li {
    
    display: inline-block;
    padding: 16px 16px;
    
}


nav ul li a {

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
    
}


footer {

    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #172029;
    margin-top: 20px;
    overflow: hidden;
    
}

footer ul {

    width: fit-content;
    float: left;
    padding-left: 0px;
    
}
    
footer ul li {
    
    display: block;
    
}
    
footer ul li p {
    
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    
}

.footer-sm {

    width: 32px;
    float: right;
    
}
    
.footer-sm img {
    
    margin-top: 30px;
    width: 100%;
    
}

hr {

    color: #4f5663;
    border-width: 2px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5px;
    
}
    
.meist {
    
    font-family: "Gentium Basic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 2px;
    padding-left: 15%;
    color: #3a383d;
    text-transform: uppercase;
    text-align: left;
    
}

.meist-div {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
}

.tekstidiv {
    padding-left: 15%;
    width: 100%;
}

.pildidiv {
    max-width: 50%;
    display: none;
}

.meist-div div img{
    max-height: 300px;
    max-width: 100%;
    display: none;

}

.meist-div div p {
    
    font-family: "Gentium Basic", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #3a383d;
    text-align: left;
    
}

.gallery-image {

    margin: 10px;
    position: relative;
    text-align: center;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
    
} 
    
.post-header {       
    
    /*kujundus*/
    
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 3px 3px 18px #111111;
    
       /*positsioneerimine*/
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.gallery-links {

    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
    
}

@media only screen and (min-width: 950px) {    
    
    .meist-div div img {
        display: flex;
    }

    header img {
        width: 90%;
    }

    header h1 a {
    
          font-size: 80px;
    
    }  
    
    header h2 {
    
          font-size: 20px;
          margin-top: 20px;
    
    }
    
    header nav ul li {
    
           padding: 16px 125px;
    
    } 

    .tekstidiv {
        max-width: 35%;
    }

    .pildidiv {
        display: flex;
    }
}